.DisTvs {
  .content {
    margin-top: 120px;

    h2 {
      font-size: 24px;
      font-weight: 400;
    }
  }

  .main_disTV_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px 0;
    gap: 20px; // Пространство между карточками

    .disTVCard {
      margin-bottom: 50px;
      cursor: pointer;
      flex-basis: calc(33.333% - 20px); // Уменьшает размер карточек для больших экранов
      max-width: calc(33.333% - 20px);max-width
      box-shadow: 0 2px 10px rgb(0 0 0 / 10%); // Тень карточки

      img {
        width: 216px;
        height: 324px;
        border-radius: 14px;
        object-fit: cover;
      }

      // Эффект наведения
      &:hover {
        transform: scale(1.05); // Увеличение карточки при наведении
        box-shadow: 0 4px 20px rgb(0 0 0 / 30%);box-shadow // Тень при наведении
      }
    }
  }

  @media (width <= 768px) {
    .main_disTV_list {
      justify-content: space-around;

      .disTVCard {
        flex-basis: calc(50% - 10px);
        max-width: calc(50% - 10px);

        img {
          width: 100px;
          height: 170px; 
          border-radius: 10px;
        }
      }

      .content {
        margin-top: 80px;

        h2 {
          font-size: 18px;
        }
      }
    }
  }
}
