.DisTvs .content {
    margin-top: 120px;
  }
  
  .DisTvs .content h2 {
    font-size: 24px;
    font-weight: 400;
  }
  
  .DisTvs .main_disTV_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px 0;
  }
  
  .DisTvs .disTVCard {
    margin-bottom: 50px;
    cursor: pointer;
  }
  
  .DisTvs .disTVCard img {
    width: 216px;
    height: 324px;
    border-radius: 14px;
    object-fit: cover;
  }
  
  .DisTvs .disTVCard h3 {
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
  }
  
  .DisTvs .disTVCard p {
    font-size: 14px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.526);
    margin-top: 5px;
  }
  
  @media (max-width: 900px) {
    .DisTvs .content .main_disTV_list {
      overflow-x: auto;
      gap: 30px;
    }
  }
  